body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #333;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.logo {
  width: 100%;
  height: 100%;
}

.home {
  position: relative;
}

.background {
  width: 100%;
  height: 100%;
}

.background-container {
  position: relative;
}

.me {
  position: absolute;
  top: 10%;
  right: 100%;
  width: 200px;
  margin-right: 20px;
  height: auto;
  border-radius: 25%;
  border: 3px solid white;
}

.btn {
  padding: 10px 35px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  outline: none;
  transition: .6s ease;
}

.btn:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  box-shadow: 0 0 5px white, 0 0 15px white;
  font-weight: bold;
}

.text-overlay {
  position: absolute;
  top: 25%;
  left: 85%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.text-overlay2 {
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

button {
  margin: 20px;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
}

.btn-7 {
  background: linear-gradient(0deg, rgba(255, 151, 0, 1) 0%, rgba(251, 75, 2, 1) 100%);
  line-height: 42px;
  padding: 0;
  border: none;
}

.btn-7 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.btn-7:before,
.btn-7:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: rgba(251, 75, 2, 1);
  box-shadow:
    -7px -7px 20px 0px rgba(255, 255, 255, .9),
    -4px -4px 5px 0px rgba(255, 255, 255, .9),
    7px 7px 20px 0px rgba(0, 0, 0, .2),
    4px 4px 5px 0px rgba(0, 0, 0, .3);
  transition: all 0.3s ease;
}

.btn-7:before {
  height: 0%;
  width: 2px;
}

.btn-7:after {
  width: 0%;
  height: 2px;
}

.btn-7:hover {
  color: rgba(251, 75, 2, 1);
  background: transparent;
}

.btn-7:hover:before {
  height: 100%;
}

.btn-7:hover:after {
  width: 100%;
}

.btn-7 span:before,
.btn-7 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: rgba(251, 75, 2, 1);
  box-shadow:
    -7px -7px 20px 0px rgba(255, 255, 255, .9),
    -4px -4px 5px 0px rgba(255, 255, 255, .9),
    7px 7px 20px 0px rgba(0, 0, 0, .2),
    4px 4px 5px 0px rgba(0, 0, 0, .3);
  transition: all 0.3s ease;
}

.btn-7 span:before {
  width: 2px;
  height: 0%;
}

.btn-7 span:after {
  height: 2px;
  width: 0%;
}

.btn-7 span:hover:before {
  height: 100%;
}

.btn-7 span:hover:after {
  width: 100%;
}


.title {
  color: black;
  position: relative;
  text-align: center;
}

.navbar-brand {
  float: left;
  display: block;
  height: 5%;
  width: 5%;
}

.navbar-nav {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar-nav li {
  display: inline-block;
}

.navbar-nav li a {
  display: block;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
}

.navbar-nav li a:hover {
  background-color: #555;
}


.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.btnBigRed {
  background-color: green;
  flex-wrap: wrap;
  background-image:
    linear-gradient(167deg,
      rgba(255, 255, 255, 0.1) 50%,
      rgba(0, 0, 0, 0) 55%),
    linear-gradient(top,
      rgba(255, 255, 255, 0.15),
      rgba(0, 0, 0, 0));
  border-radius: 6px;
  box-shadow:
    0 0 0 1px green inset,
    0 0 0 2px green inset,
    0 8px 0 0 green,
    0 8px 0 1px rgba(0, 0, 0, 0.4),
    0 8px 8px 1px rgba(0, 0, 0, 0.5);
  color: #FFF;
  display: inline-block;
  font-family: "Lucida Grande", Arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
  height: 61px;
  letter-spacing: -1px;
  line-height: 61px;
  margin: 60px;
  position: relative;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  text-decoration: none !important;
  top: 0;
  width: 186px;
  transition: 0.15s;
  padding: 20px;
}

.btnBigRed:hover,
.btnBigRed:focus {
  background-color: #D13902;
  box-shadow:
    0 0 0 1px #C63702 inset,
    0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 10px 0 0 #AD3002,
    0 10px 0 1px rgba(0, 0, 0, 0.4),
    0 10px 8px 1px rgba(0, 0, 0, 0.6);
  top: -2px;
}

.btnBigRed:active {
  box-shadow:
    0 0 0 1px #AD3002 inset,
    0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 0 0 1px rgba(0, 0, 0, 0.4);
  transform: translateY(10px);
}

@media (max-width: 768px) {
  .buttonContainer {
    flex-direction: column;
    align-items: center;
  }

  .text-overlay {
    top: 50%;
  }

  .text-overlay h1 {
    font-size: 20px;
  }

  .text-overlay h3 {
    font-size: 15px;
  }

  .me {
    width: 100px;
  }

  .btnBigRed {
    margin: 10px;
    width: 300px;
  }
}